@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import 'base/variables';
@import 'base/mixins';
@import 'base/title';
@import 'blocks/header/header';
@import 'blocks/header/header__media';
@import 'blocks/promo/promo';
@import 'blocks/promo/promo__media';
@import 'blocks/about/about';
@import 'blocks/about/about__media';
@import 'blocks/services/services';
@import 'blocks/services/services__media';
@import 'blocks/works/works';
@import 'blocks/works/works__media';
@import 'blocks/price/price';
@import 'blocks/price/price__media';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


