@media (max-width: 576px) {
    .modal {
        &__block {
            width: 300px;
        }
        &__close {
            top: -12px;
            right: 8px;
            font-size: 50px;
            color: #000;
        }
    }
}